################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotNET/*/obj
/dotNET/*/bin
/dotNET/.vs
